:root {
    --lilac: #E7C6FF;
    --lavender: #B8C0FF;
    --pink: #FFD6FF;
}

body {
    background-color: var(--lilac);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 3rem;
}

#container {
    background-color: var(--pink);
    text-align: center;
    padding: 3rem;
    width: 50%;
    height: 40%;
    display: none;
    margin-top: 5rem;
    position: relative;
}

#cachorro {
    display: none;
    border: 10px dashed var(--lilac);
}

#mostrar {
    padding: 1rem 3rem;
    background-color: var(--lavender);
    border: none;
    border-radius: 50px;
    text-transform: lowercase;
    letter-spacing: 2px;
    font-size: 26px;
    font-weight: bold;
    color: white;
    cursor: pointer;
    transition: transform .5s;
    margin-top: 10rem;
}

#mostrar:hover {
    transform: scale(.95);
    background-color: #e7d7ff;
    color: #ce5dc4;
}

#fechar {
    position: absolute;
    top: 5px;
    right: 5px;
    color: gray;
    background-color: white;
    border-radius: 100%;
    cursor: pointer;
}